
.homePageText {
    color: rgb(4, 138, 138);
    position: absolute;
    width: 25vw;
    height: 15vh;
    top: 20vh;
    left: 5vw;
    line-height: 1.4vw;
    font-size: 1vw;

  }
  
  .homePageB {
    font-size: 1.5vw;

  }
  
  .homePageImg {
    position: absolute;
    left: 45vw;
    height: 62vh;
    width: 50vw;
  }

.homePageBox {    
  height: 78.1vh;
}