.formModal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 43, 46, 0.75);
}

.formModalDiv {
  position: relative;
  background-color: rgb(5, 105, 105);
  color: rgb(109, 251, 251);
  left: 35vw;
  top: 1vh;
  width: 35vw;
  height: 98vh;
}

.formDiv {
  display: flex;
}

.formText {
  position: relative;
  left: 3vw;
  width: 12vw;
  line-height: 1.6vw;
}

input {
  width: 10vw;
  height: 2.5vh;
  position: relative;
  top: 0.4vh;
  color: white;
  background-color: black;
}

select {
  width: 10vw;
  color: white;
  background-color: black;
  position: relative;
  height: 2.5vh;
  top: 0.4vh;
}

.closeModalButton {
  position: absolute;
  left: 28vw;
  top: 3vh;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #0eabdb 0%, #055358 100%);
}

.SendModalButton {
  position: absolute;
  left: 29vw;
  top: 91vh;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #0eabdb 0%, #055358 100%);
}

.validationText {
  position: relative;
  color: red;
  width: 13vw;
  top: -96vh;
  left: 12vw;
  line-height: 1.6vw;
}
